@{
    ViewData["Title"] = Model == null ? "Добавление преподавателя" : "Изменение данных преподавателя";
    var FemaleStr = "Женский";
    var MaleStr = "Мужской";
}
@model Teacher
<div class="page-content-center page-content-auth">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="AddTeacher" asp-controller="home" enctype="multipart/form-data">
        <div class="teacher-avatar">
            <img id="photo" alt="Фото" src="@Formatting.getAvatarImageSrc(Model?.Photo)" />
        </div>
        <div class="teacher-info">
            <input type="file" accept=".jpg, .jpeg, .png, .bmp|image/*" asp-for="PhotoFormFile" onchange="selectPhoto_Change(event)" value="@Model?.PhotoFormFile" />
            <input type="text" asp-for="TeacherID" value="@Model?.TeacherID" hidden ="True"/>
            <label asp-for="LastName">Фамилия</label>
            <input type="text" asp-for="LastName" required value="@Model?.LastName" />
            <label asp-for="Name">Имя</label>
            <input type="text" asp-for="Name" required value="@Model?.Name" />
            <label asp-for="Surname">Отчество</label>
            <input type="text" asp-for="Surname" value="@Model?.Surname" />
            <label asp-for="Birthday">Дата рождения</label>
            <input type="date" asp-for="Birthday" value="@Model?.Birthday?.ToString("yyyy-MM-dd")" />
            <label asp-for="Sex">Пол</label>
            <br/>
            <select required name="Sex">
                <option disabled selected="@(Model?.Sex == null)">--Выберете пол--</option>
                <option value="@FemaleStr" selected="@(Model?.Sex == FemaleStr)">@FemaleStr</option>
                <option value="@MaleStr" selected="@(Model?.Sex == FemaleStr)">@MaleStr</option>
            </select>
            <br/>
            <label asp-for="Notes">Примечание</label>
            <input type="text" asp-for="Notes" value="@Model?.Notes" />
        </div>
        <div>
            <input type="submit" value="@(Model == null ? "Добавить" : "Внести изменения")" />
            <input type="button" value="Отмена" onclick="history.back()" />
        </div>
    </form>
</div>
<script>
    function selectPhoto_Change(event) {
        let photoElement = document.getElementById("photo");
        photoElement.src = "";
    }
</script>