@{
    ViewData["Title"] = "Список предметов";
    Func<Subject, bool> isUserAuthorized = (f) => Context.User.FindFirstValue(ClaimTypes.Role) == "Admin";
}
@model IEnumerable<Subject>

<div class="page-content-center page-content-display">
    <h1>@ViewData["Title"]</h1>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Редактирование</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="SubjectTeachers" asp-route-id=@item.SubjectID>@item.Name</a></td>
                <td>@item.CreationDate</td>
                <td>
                    <a asp-action="EditSubject" asp-route-id=@item.SubjectID><input disabled="@(!isUserAuthorized(item))" type="button" value="Изменить" /></a>
                    <br />
                    <a asp-action="RemoveSubject" onclick="ActionConfirmation('Удалить предмет: @item.Name?')" asp-route-id=@item.SubjectID><input disabled="@(!isUserAuthorized(item))" type="button" class="input-delete" value="Удалить" /></a>
                </td>
            </tr>
        }
    </table>
    <div>
        <a asp-action="AddSubject"><input type="button" value="Добавить новый предмет" /></a>
    </div>
</div>