@{
    var displayString = Formatting.getTeacherDisplayString(Model);
    ViewData["Title"] = displayString;
    Func<Teacher, bool> isUserAuthorized = (f) => Context.User.FindFirstValue(ClaimTypes.Role) == "Admin";
}
@model Teacher

<div class="page-content-center page-content-display">
    <div class="teacher-avatar">
        <img src="@Formatting.getAvatarImageSrc(Model?.Photo)" />
    </div>
    <div class="teacher-info">
        <h1>@ViewData["Title"]</h1>
        <label>Пол:</label>
        <div>@Model.Sex</div>
        <label>Дата рождения:</label>
        <div>@Model.Birthday?.ToString("dd.MM.yyyy")</div>
        <label>Примечание:</label>
        <div>@Model.Notes</div>
    </div>
    <div class="teacher-buttons">
        <a asp-action="EditTeacher" asp-route-id=@Model.TeacherID><input disabled="@(!isUserAuthorized(Model))" type="button" value="Изменить" /></a>
        <a asp-action="RemoveTeacher" onclick="ActionConfirmation('Удалить преподавателя: @Model.LastName?')" asp-route-id=@Model.TeacherID><input disabled="@(!isUserAuthorized(Model))" type="button" class="input-delete" value="Удалить" /></a>
        <input type="button" value="Назад" onclick="history.back()" />
    </div>
</div>